<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="note">
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input [(ngModel)]="note.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Note</ion-label>
      <ion-textarea [(ngModel)]="note.text" rows="8"></ion-textarea>
    </ion-item>
  </div>

  <ion-grid>
    <ion-row class="ion-justify-content-between">
      <ion-col size="3">
        <ion-button
          shape="round"
          fill="clear"
          color="success"
          (click)="updateNote()"
        >
          <ion-icon name="save" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button
          shape="round"
          fill="clear"
          color="danger"
          (click)="deleteNote()"
        >
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
